* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  border: none;
  box-sizing: border-box;
  font-size: 62.5%;
}

:root {
  --backgrond: #000;
  --text-color: #FFF;
  --button: #8257E5;
  --border: #29292E;
  --border-menu-mobile: rgba(168, 168, 179, 0.227);
  --text-color-menu-mobile: #E1E1E6;
}

body {
  width: 100vw;
  background: 
  url('./assets/blur-1.png'),
  url('./assets/blur-2.png');
  
  background-repeat: no-repeat, no-repeat;
  background-position: left bottom, right top;
  background-size: contain;
  background-position-y: 170px, -200px;
  background-position-x: -300px, 900px ;
  background-color: var(--backgrond);
  font-family: 'Manrope', sans-serif;  
  color: #fff;
  overflow-x: hidden;
}

/* menu */
header {  
  padding: 1rem 2rem;
  height: 12rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  
}


header #logo {
  background-image: url('./assets/logo-desktop.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 6rem;
  height: 6rem;
}

header #header-button {
    width: 17.41rem;
    height: 3.5rem;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 8.8rem 0;
    font-size: 1.5rem;
    font-weight: 700;
    font-family: 'Manrope', sans-serif;
    color: var(--text-color);
  
    border: 1px solid  var(--button);
    border-radius: 0.6rem;
    background: none;
  
    transition: 0.5s;
}

header #header-button:hover {
  background-color: var(--button);
}


  
  


#nav a {
  color: var(--text-color-menu-mobile);
  font-family: 'Manrope', sans-serif;
  font-size: 1.7rem;
  display: block;
  padding: .5rem;
}

#nav a:hover {
  color: var(--text-color);
  border-bottom: 4px solid var(--button);
}


#menu {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  gap: 7rem;
  
}







main .content button {
  visibility: hidden;
}





main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

main .content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin-top: 6rem;
  padding: 5rem;
  
}

main .content p {
  display: none;
}



main .content h1 {
  font-size: 9rem;
  line-height: 10rem;
  margin-top: 0;
}

main .content .stroke {
  text-shadow: -1px -1px 0 var(--button), 1px -1px 0 var(--button), -1px 1px 0 var(--button), 1px 1px 0 var(--button);
  color: var(--backgrond)
 
}

main .bg-coffee {
  margin-top: 3rem;
  width: 50vw;
  height: 41.5rem;  

  background: url('./assets/img-coffee.png') no-repeat;
  
  background-position: center;
  background-size: cover;
  
}


/* mobile */

@media (max-width: 920px) {
  body {
    width: 100vw;
    background: url('./assets/blur-mobile.png') no-repeat;
    background-position: center;
    background-position-y: min(20rem, 30rem);
    background-size: cover;
    background-color: var(--backgrond);
    font-family: 'Manrope', sans-serif;  
    color: #fff;
    overflow-x: hidden;
  }

  header {  
    padding: 1rem 2rem;
    height: 9.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 1.5px var(--border-menu-mobile);
  }

  header #logo {
    background-image: url('./assets/logo-mobile.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 17rem;
    height: 6rem;
  }

  header #header-button {
    position: absolute;
    height: 1px;
    width: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip-path: rect(0, 0, 0);
    white-space: nowrap;
    border-width: 0;

  }

 
  
  #menu {
    display: block;
    position: absolute;
    top: 9.5rem;
    right: 0;
    background: var(--backgrond);
    transition: .6s;
    z-index: 100;
    height: calc(100vh + 30rem);
    width: 0;
    
    visibility: hidden;
    overflow-x: auto;
  }
  
  #menu  a {
    padding: 2rem;
    border-bottom: 2px solid var(--border-menu-mobile);
  }
  #nav.active #menu {
    width: 100%;
    
    visibility: visible;
  }
  #nav a:hover {
    color: var(--text-color);
    border-left: 4px solid var(--button);
    border-bottom: 2px solid var(--border-menu-mobile);
  }

  #btn-mobile {
    visibility: visible;
  }

  #btn-mobile {
    background-image: url('./assets/menu-buguer-open.svg');
    background-repeat: no-repeat;
    background-position: center;
    width: 3rem;
    height: 3rem;
    
    transition: .6s;
    cursor: pointer;
  
  
  }
  
  #nav.active #btn-mobile {
    background-image: url('./assets/menu-buguer-close.svg');
    background-repeat: no-repeat;
    background-position: center;
    width: 3rem;
    height: 3rem;
  }

  main .content button {
    width: 17.41rem;
    height: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 8.8rem 0;
    font-size: 1.1rem;
    font-weight: 700;
    font-family: 'Manrope', sans-serif;
    color: var(--text-color);
  
    border: 1px solid  var(--button);
    border-radius: 0.6rem;
    background: none;
  
    transition: 0.5s;
    
    visibility: visible;
    
  }
  
  
  main .content button:hover {
    background-color: var(--button);
  }
  
  main .content button img {
    margin-left: 1rem;
  }

  main .content p {
    font-size: 3rem;
    font-weight: 600;
    color: var(--text-color);
    line-height: 4rem;
    letter-spacing: 0.02em;
    margin: 0 10rem;
    
    display: contents;
  }

  main .content h1 {
    font-size: 5rem;
    line-height: 6.8rem;
  }

  main .bg-coffee {
    margin-top: 3rem;
    width: 100vw;
    height: 29rem;  
  
    background: url('./assets/img-coffee.png') no-repeat;
    background-origin: border-box;
    background-position:center;
    background-size: 100vw 100%;
  }

}